* {
    box-sizing: border-box;
}

/* header that says bmi calculator*/
h1 {
    font-size: 42px;
    font-family: Verdana, Helvetica, sans-serif;
    color: #00cc66;
}

/* Style the header */
.header {
    background-color: #044336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    border-style: solid;
    border-width: 2px;
    border-color: #008888;
    width: 40%;
    padding: 10px;
    position: relative;
    font-size: 16px;
}

#result {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Style the "enter" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}